@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 黑體-繁, Apple LiGothic Medium, PingFang, 微軟正黑體, Microsoft JhengHei, WenQuanYi Zen Hei, helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  background: #8CA653;
  color: #CFE4DB;
}

::-moz-selection {
  color: #ffe819;
}

::selection {
  color: #ffe819;
}

h1 {
  padding: 1.5rem 0;
}

input {
  height: 1.5rem;
  margin: 8px 0;
  padding: 0 4px;
  border-radius: 4px;
  background: #fff;
  border: none;
}

button {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 1.5rem auto;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  opacity: 0.9;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

button:hover {
  opacity: 1;
  color: #c9b715;
}

p {
  margin: 0.65rem 0;
}

.phone {
  display: none;
}

#submit {
  padding: 0.25rem 0.5rem;
  border-radius: 7px;
}

#result {
  width: 50%;
  margin: auto;
  color: #fff;
  font-size: 2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.three {
  width: 300px;
  height: 150px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.three-left,
.three-mid,
.three-right {
  position: relative;
}

.three-mid {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.three-left::before {
  content: '➚';
  position: absolute;
  left: 40%;
  top: -100%;
}

.three-mid::before {
  content: '➘';
  position: absolute;
  right: -50%;
  top: 100%;
}

.three-right::before {
  content: '➙';
  position: absolute;
  left: -75%;
  top: 7%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 600px) {
  h1 {
    padding: 1rem 0;
  }
  button {
    margin: 1rem auto;
  }
  .phone {
    display: block;
  }
  #result {
    width: 90%;
    font-size: 2rem;
  }
}
